@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Inter:wght@300;400;500;600&family=Alex+Brush&display=swap');

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Playfair Display", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-script: "Alex Brush", cursive;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

.about-section {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  @font-face {
    font-family: 'Script';
    src: url('/fonts/PinyonScript-Regular.ttf') format('truetype');
  }
}

@layer utilities {
  .animate-marquee {
    animation: marquee 20s linear infinite;
  }
  .animate-marquee2 {
    animation: marquee2 20s linear infinite;
  }

  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
  }
  @keyframes marquee2 {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
  }
}

.hexagon-card {
  width: 220px;
  height: 250px;
  background-color: #f0fdf4; /* Corresponds to emerald-50/80 */
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
